<header class="flex mb-8 border-b-2 pb-6">
  <div class="flex flex-1 flex-col gap-y-1">
    <h1 class="text-primary-700 text-lg font-bold uppercase"><%= title %></h1>
    <% if breadcrumb.present? && breadcrumb.any? %>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb flex items-center gap-x-2 text-neutral-400">
          <% breadcrumb.each do |crumb| %>
            <li class="<%= crumb.current? ? "current" : "" %>">
              <%= link_to crumb.name, crumb.url, (crumb.current? ? {"aria-current" => "page"} : {}) %>
            </li>
            <% unless crumb.current? %><li><i class="fa-solid fa-caret-right text-sm text-neutral-300"></i></li><% end %>
          <% end %>
        </ol>
      </nav>
    <% elsif subtitle.present? %>
      <p class="text-neutral-400"><%= subtitle %></p>
    <% end %>
  </div>

  <div class="flex items-center justify-center gap-x-3">
    <%= content %>
  </div>
</header>