<article id="<%= dom_id(notification) %>" class="box shadow flex p-5 justify-start items-center">
  <%= link_to "#", class: "flex flex-1 justify-start items-center" do %>
    <div class="">
      <i class="<%= notification.icon_class %>"></i>
    </div>
    <div class="flex flex-grow flex-col gap-y-0.5 px-5 mx-5 border-x">
      <span class="text-xs font-bold text-primary-700"><%= notification.status.upcase %></span>
      <span class="text-neutral-500 text-sm"><%= notification.message.capitalize %></span>
    </div>
    <div class="">
      <i class="fas fa-info-circle text-primary-700"></i>
    </div>
  <% end %>
</article>